name: Backend CI

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["main"]

jobs:
  backend-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install backend deps
        run: npm install --prefix backend

      - name: Run Vitest Unit Tests
        run: npm test --prefix backend

      - name: Build backend
        run: npm run build --prefix backend

      - name: Start backend server
        run: npm start --prefix backend &

      - name: Wait for backend to be ready
        run: sleep 3

      - name: Install Newman
        run: npm install -g newman

      - name: Run API Tests
        run: newman run ./backend/postman/user-api.collection.json

      - name: Lint backend
        run: npm run lint --prefix backend

      - name: Security audit
        run: npm audit --audit-level=high --prefix backend || true
